.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #326597;
  height: 100%;
  min-height: fit-content;
  
}
footer {
  clear: both;
  /* height: 100px; */
    /* background: rgb(179, 9, 9); */
    /* display: block; */
    position: relative;
    /* height: 100px;
    margin-top: -10px; */
    box-sizing: border-box;
}
input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-image: url('../src/icons/gmail.svg') ;
  background-repeat: no-repeat;
  background-position: right;
}
input[type=password] {
  width: 100%;
  padding: 0.375rem .75rem;
  margin: 8px 0;
  box-sizing: border-box;
  background-image: url('../src/icons/padlock.svg') ;
  background-repeat: no-repeat;
  background-position: right;
  
}
input[type="radio"]{
  display: none;
}
